In [7]:
#importing important libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [211]:
#to ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [9]:
df = pd.read_csv("data.csv")

In [11]:
df = df.drop(columns = "Unnamed: 0")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   car_name     990 non-null    object
 1   year         990 non-null    int64
 2   milage       990 non-null    object
 3   engine_size  990 non-null    object
 4   fuel_type    990 non-null    object
dtypes: int64(1), object(4)
memory usage: 38.8+ KB

### Data Cleaning

In [195]:
df["milage"] = df["milage"].apply(lambda x: x[0:-6])

In [197]:
df["milage"] = df["milage"].str.replace(",", "")
df["milage"] = df["milage"].apply(lambda x: x.strip()).replace("", "0")
df["milage"] = df["milage"].apply(lambda x: int(x))

In [199]:
df["engine_size"] = df["engine_size"].str.replace("L", "")
df["engine_size"] = df["engine_size"].apply(lambda x: float(x))

In [201]:
df["age"] = df["year"].apply(lambda x: 2025 - x)
df

,car_name,year,milage,engine_size,fuel_type,age
0,Mercedes-Benz C-Class 3.0 C43 V6 AMG (Premium ...,2020,55999,3.0,Petrol,5
1,Audi RS Q3 RS Q3 TFSI Quattro 5dr S Tronic [Co...,2020,18747,2.5,Petrol,5
2,Mazda MX-5 1.5 SKYACTIV-G Sport Nav+ Euro 6 2dr,2019,21847,1.5,Petrol,6
3,1960 TVR Grantura Lightweight,1960,1234,1.2,Petrol,65
4,PORSCHE 911 (992) GT3 TOURING,2022,3631,4.0,Petrol,3
...,...,...,...,...,...,...
985,Audi Q4 E-Tron,2024,6512,0.0,Electric,1
986,Christmas cracker - ready to go,1999,62901,4.0,Petrol,26
987,Audi TT Coupe 2.0 TDI Quattro Black Edition 2d...,2013,119000,2.0,Diesel,12
988,2017 67 MASERATI LEVANTE 3.0 V6 S SUV 5DR PETR...,2017,79997,3.0,Petrol,8
989,2022 22 AUDI RSQ8 4.0 TFSI V8 VORSPRUNG SUV 5D...,2022,12250,4.0,Petrol,3

In [205]:
#Removing all values where the milage is 0
df = df[df["milage"] != 0]

In [213]:
df["age_scaled"] = MinMaxScaler().fit_transform(df[["age"]])
df["milage_scaled"] = MinMaxScaler().fit_transform(df[["milage"]])
df["engine_size_scaled"] = MinMaxScaler().fit_transform(df[["engine_size"]])

In [215]:
df.fuel_type.unique()

array(['Petrol', 'Electric', 'Diesel', 'Hybrid', 'Other'], dtype=object)

In [217]:
df["fuel_type_scaled"] = df["fuel_type"].apply(lambda x: 1 if x == "Electric" else 0.8 if x == "Hybrid" else 0.5 if x == "Petrol" else 0.3 if x == "Diesel" else 0)

In [219]:
df["age_scaled"] = df["age_scaled"].apply(lambda x: 1 - x)
df["milage_scaled"] = df["milage_scaled"].apply(lambda x: 1 - x)
df["engine_size_scaled"] = df["engine_size_scaled"].apply(lambda x: 1 - x)
df

,car_name,year,milage,engine_size,fuel_type,age,age_scaled,milage_scaled,engine_size_scaled,fuel_type_scaled
0,Mercedes-Benz C-Class 3.0 C43 V6 AMG (Premium ...,2020,55999,3.0,Petrol,5,0.946667,0.641135,0.6250,0.5
1,Audi RS Q3 RS Q3 TFSI Quattro 5dr S Tronic [Co...,2020,18747,2.5,Petrol,5,0.946667,0.879968,0.6875,0.5
2,Mazda MX-5 1.5 SKYACTIV-G Sport Nav+ Euro 6 2dr,2019,21847,1.5,Petrol,6,0.933333,0.860093,0.8125,0.5
3,1960 TVR Grantura Lightweight,1960,1234,1.2,Petrol,65,0.146667,0.992249,0.8500,0.5
4,PORSCHE 911 (992) GT3 TOURING,2022,3631,4.0,Petrol,3,0.973333,0.976881,0.5000,0.5
...,...,...,...,...,...,...,...,...,...,...
985,Audi Q4 E-Tron,2024,6512,0.0,Electric,1,1.000000,0.958410,1.0000,1.0
986,Christmas cracker - ready to go,1999,62901,4.0,Petrol,26,0.666667,0.596884,0.5000,0.5
987,Audi TT Coupe 2.0 TDI Quattro Black Edition 2d...,2013,119000,2.0,Diesel,12,0.853333,0.237218,0.7500,0.3
988,2017 67 MASERATI LEVANTE 3.0 V6 S SUV 5DR PETR...,2017,79997,3.0,Petrol,8,0.906667,0.487277,0.6250,0.5
989,2022 22 AUDI RSQ8 4.0 TFSI V8 VORSPRUNG SUV 5D...,2022,12250,4.0,Petrol,3,0.973333,0.921622,0.5000,0.5

In [225]:
#dropping duplicates
df = df.drop_duplicates()

In [227]:
df.to_csv("df.csv")